name: "Test Unit"

on:
  push:
    branches: ["master", "dev"]
  pull_request:
    branches: ["master", "dev"]

jobs:
  test-unit:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        compiler: [gcc, clang]

    steps:
    - uses: actions/checkout@v6

    - name: Run unit tests
      run: make CC=${{ matrix.compiler }} LD=${{ matrix.compiler }} test -s
